<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.fabric.crashlytics" version="1.6.1" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Crashlytics</name>
    <description>Cordova Plugin for Fabric/Crashlytics</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=4.1.0" />
        <engine name="cordova-ios" version=">=3.9.0" />
    </engines>

    <js-module name="FabricCrashlyticsPlugin" src="www/crashlytics.js">
        <clobbers target="plugin.Fabric.Crashlytics"/>
    </js-module>

    <dependency id="org.fathens.cordova.plugin.fabric.core" url="https://github.com/fathens/cordova-plugin-fabric-core.git" commit="master" />

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FabricCrashlyticsPlugin">
                <param name="android-package" value="org.fathens.cordova.plugin.fabric.FabricCrashlytics"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/kotlin/FabricCrashlytics.kt" target-dir="kotlin/org.fathens.cordova.plugin.fabric"/>

        <fabric>
            <import>com.crashlytics.android.Crashlytics</import>
            <instance>Crashlytics()</instance>
        </fabric>

        <framework src="platforms/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="FabricCrashlyticsPlugin">
                <param name="ios-package" value="FabricCrashlytics"/>
            </feature>
        </config-file>

        <source-file src="platforms/ios/src/FabricCrashlytics.swift"/>

        <framework src="Crashlytics" type="podspec" spec="~> 2.4.16">
            <bridging-header import="Crashlytics/Crashlytics.h" />
        </framework>

        <fabric name="Crashlytics">
            <instance>Crashlytics.self</instance>
        </fabric>
    </platform>
</plugin>
