<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.fabric.Crashlytics" version="1.0.5" xmlns="http://www.phonegap.com/ns/plugins/1.0">
	<name>Crashlytics</name>
	<description>Cordova Plugin for Fabric/Crashlytics</description>
	<license>MIT</license>
	
	<engines>
	   <engine name="cordova-android" version=">=4.1.0" />
	   <engine name="cordova-ios" version=">=3.9.0" />
    </engines>
	
	<js-module name="FabricCrashlyticsPlugin" src="www/crashlytics.js">
		<clobbers target="plugin.Fabric.Crashlytics"/>
	</js-module>
	
	<js-module name="FabricAnswersPlugin" src="www/answers.js">
		<clobbers target="plugin.Fabric.Answers"/>
	</js-module>
	
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="FabricCrashlyticsPlugin">
				<param name="android-package" value="org.fathens.cordova.plugin.fabric.FabricCrashlytics"/>
			</feature>
			<feature name="FabricAnswersPlugin">
				<param name="android-package" value="org.fathens.cordova.plugin.fabric.FabricAnswers"/>
			</feature>
		</config-file>
		
		<source-file src="platforms/android/src/main/kotlin/FabricCrashlytics.kt" target-dir="kotlin"/>
		<source-file src="platforms/android/src/main/kotlin/FabricAnswers.kt" target-dir="kotlin"/>

		<hook type="after_plugin_install" src="platforms/android/hooks/after_plugin_install.js"/>
		<hook type="before_plugin_uninstall" src="platforms/android/hooks/before_plugin_uninstall.js"/>
	</platform>
	
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="FabricCrashlyticsPlugin">
                <param name="ios-package" value="FabricCrashlytics"/>
            </feature>
            <feature name="FabricAnswersPlugin">
                <param name="ios-package" value="FabricAnswers"/>
            </feature>
        </config-file>
        
        <source-file src="platforms/ios/src/FabricCrashlytics.swift"/>
        <source-file src="platforms/ios/src/FabricAnswers.swift"/>
        <header-file src="platforms/ios/src/fabric-Bridging-Header.h"/>
        
        <hook type="after_plugin_install" src="platforms/ios/hooks/after_plugin_install.js"/>
        <hook type="before_plugin_uninstall" src="platforms/ios/hooks/before_plugin_uninstall.js"/>
    </platform>
</plugin>
